* {
  margin: 5;
  padding: 0;
}

.images {
  width: 500px;
}
header {
  margin: 10px 10px;
  border-radius: 20px;
}

.tanitim {
  background-color: darksalmon;
  border-radius: 10px;
}

body {
  background-color: antiquewhite;
}
