* {
  margin: 5;
  padding: 0;
  box-sizing: border-box;
}

.images {
  width: 500px;
  box-shadow: 2px 5px 10px;
}
header {
  margin: 20px 10px;
  border-radius: 20px;
  box-shadow: 5px 10px 55px;
}

.tanitim {
  background-color: darksalmon;
  border-radius: 10px;
  font-weight: bolder;
  word-spacing: 3px;
  line-height: 1.5;
  text-transform: capitalize;
}

.home {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  word-spacing: 5px;
  cursor: pointer;
}

.h2 {
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
  text-transform: uppercase;
  letter-spacing: 5px;
}

body {
  background-color: antiquewhite;
}

.message {
  text-align: center;
  padding-top: 20px;
}
.contact {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.git {
  list-style-image: url(../assets/img/github.svg);
}
