* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /*! text decoration alt yazilari kaldirir. */
}

body {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  padding: 20px;
  line-height: 27px;
  /* ! elementlerin arasini acar line height satir yuksekligi demektir */
}

.header__left {
  float: left;
}
.header__right {
  float: right;
}

.header__item {
  display: inline;
}
.header__link {
  color: black;
  padding: 0.5rem;
  opacity: 0.7;
}
.header__link:hover {
  text-decoration: underline;
}
