.box {
  border: 2px solid indigo;
  margin-bottom: 7rem;
  width: 20rem;
  height: auto;
}
.box1 {
  overflow: visible;
}
/*!sabit yukseklik vermemiz gerektiginde overflov verilier */
.box2 {
  overflow: hidden;
}
.box3 {
  overflow: auto;
}

.box4 {
  overflow: scroll;
}
