h1 {
  color: red;
  font-size: 30px;
}

p.abs {
  font-size: 1cqmin;
  font-size: 10mm;
  font-size: 1in;
  font-size: 10px;
  /* goreceli degil mutlak olcu birimleridir cm mm inc px */
  /* absolut olcu birimleri bunlar */
}

p.percent {
  font-size: 200%;
  font-size: 50%;
}

.div1 {
  background-color: tomato;
  width: 50%;
  height: 200px;
}
.div2 {
  background-color: forestgreen;
  width: 50%;
  height: 50%;
}

.div3 {
  background-color: blue;
  width: 50%;
}
/* Boddy nin default yuksekligi yoktur. Bu sebeple childelardan birinine yuzdelik verildiginde o yuksekslik calismaz. */
