h1 {
  color: red;
  font-size: 30px;
}

p {
  font-size: 1cqmin;
  font-size: 10mm;
  font-size: 1in;
  font-size: 20px;
  /* goreceli degil mutlak olcu birimleridir cm mm inc px */
  /* absolut olcu birimleri bunlar */
}
