ul {
  /*? madde imi stilleri */
  list-style: circle;
  list-style-type: square;
  list-style-type: upper-alpha;

  /* ?madde iminin yeri li" lerin icerisindem i yoksa disindami olacak bunu belirler */

  list-style-position: inside;
  list-style-position: inherit;
  padding: 10;

  /* ?madde imlerinin solundaki boslugu pading ile veririz */
  list-style-image: url("./paper-plane-regular.svg");
}

h2 i {
  font-size: 40px;
}

.fa-solid {
  color: red;
}
