// main import sirasi onemlidir ortak olan dosyalara her yerden erisim saglayabilmemiz icin oncelikle ortak dosyalari import etmemiz gerekiyor
@import "./base/reset";
@import "./abstracts/variables","./abstracts/mixin";  //degiskenlerim ve fonksiyonlarim

@import  "./components/footer","./components/navbar","./components/responsive";

@import "./sections/home", "./sections/about","./sections/destination","./sections/guide";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" );

@import "./sections/home","./sections/about","./sections/destination","./sections/guide";


body{

    background-color: $mainColor;
    position: relative;
}

button,i {

    cursor: pointer;
}