* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ! onemli olan hizalanmak istenenleri containere almamiz lazm ve flex yaptiktan sonra diger elemenler islevsellik kazanir */

/* ? row- yan yana dizer / colum alt alta dizer kutulari butonlari  */

/* * flex wrap propertisi no wrap containerin icersindeki elementler ekran ile birlikte sigmayanlar asagi iner Responsiv tasarim icn onemli bir ozellik- default degeri nowrap dir . acilmali flex-wrap ile*/

/* !gap ozelligi onemli bosluk birakabilirz */

/* * justifey-content elementleri yatayda hizalamak icindir.Default degeri flex-start dir */

/* ? justify content yatay hizalama yapiyor */

/* ? (align-items) propertisi dikey hizalama yapar containerde div icerisindeki divleri */

/* ! defoult degeri strech dir (strech) uzatir dikye / (flex-end )tabana center ortaya (baseline) yazilarin tabanina gore hizalar (flex-start )yukarida hizalar */

.list {
}
