* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ! onemli olan hizalanmak istenenleri containere almamiz lazm ve flex yaptiktan sonra diger elemenler islevsellik kazanir */

/* ? row- yan yana dizer / colum alt alta dizer kutulari butonlari  */
