* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header__top {
  background: linear-gradient(0deg, #593972 0%, #2da24a 100%);
  /* position: relative; */
  height: 115px;

  /* ! vw ekran genisligine gore hareket eder. */
}

/*! linear gradient renk gecisi saglar */

.left img {
  width: 60px;
  height: 78px;
  top: 10%;
  left: 3%;
  cursor: pointer;
}

.right {
  /* position: absolute; */
  float: right;
  right: 0;
  top: 50%;

  /* ! float rigt */
}

.right a {
  text-decoration: none;
  color: rgb(228, 222, 222);
  font-family: "Open Sans", sans-serif;
  transition: ease 1000ms;
}

.right a:hover {
  border-bottom: 3px solid rgb(235, 7, 144);
}

.header__bottom {
  position: sticky;
  text-align: center;
  padding: 32px;
  background: linear-gradient(90deg, rgb(160, 225, 6), rgb(254, 96, 199));
  transition: ease 1000ms;
  cursor: pointer;
  z-index: 1;
  top: 0;
  /* position: fixed; */
}

.header__bottom a {
  padding: 20px;
  color: rgb(69, 55, 227);
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.header__bottom a:hover {
  color: white;
}

.boddy__top img {
  width: 100%;
  height: 90%;

  /* background-image: url(./img/banner.jpg); */
  /* background-attachment: fixed; */
  /* background-position: center; */
  /* background-size: 100%;
  height: 50vh;
  min-height: 50vh; */
  /* background-position: center center; */
}

.body__p {
  padding: 30px;
  font-weight: 400;
  text-align: justify;
}
